<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link rel='stylesheet' href='css/styles.css' />
  </head>
  <body>
    <h1>hello world!</h1>
    <p>{{data.title}}</p>
    <p>{{data.copyright}}</p>

    <script src='js/scripts.js'></script>
  </body>
</html>